@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #ffffff;
$subColor: #cde6ee;
$keyColor: #d1d0cb;
$fontColor: #898989;

/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor;
}


/* Align
------------------------------------------------------------*/
.text-center, .text-center2, .text-center3, .text-center4 {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
#container1, #container2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

/* Header
------------------------------------------------------------*/

header {
    height:450px;
  #top-pic {
    max-height:450px;
    height:450px;
    background:url("../images/top-pic.jpg");
    background-size:cover;
    background-position:center;
}

}

/* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding:30px 0;
}
    

  #content1
    {
  background-color: $subColor;
  .container1 {
    @include display-flex;
    justify-content: space-between;
   
   
   
    .text-box {
    @include flex(1);
    margin: 10px;
    background-color: $keyColor;
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
    
    
  
    .title-box {
    @include flex(1);
    background-color: $fontColor;
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
    padding:0 20px;

      }
    
  
  
  h2.tex-center{
    @extend .abel;
    @extend .uppercase;
    color: $fontColor;
    margin-bottom:10px;
    font-size: 3.5rem;
    font-weight: bold;
  }
  
  h3.text-center {
    @extend .abel;
    @extend .uppercase;
    color: $fontColor;
    margin-bottom:20px;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .text-center2{
    color: $baseColor;
    @extend .abel;
    @extend .uppercase;
    font-size:1.6rem;
    


  }}}}

  #content2 {
  background-color: $keyColor;
  .container2 {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
    width:100%;
  .text-center3{
    padding:0;
  }
  
    .bottom {    
    @include flex(1);
    margin: 0 auto;
    padding:2px;
    box-shadow:0px 0px 3px 3px pink;
    background-color: $fontColor;
    width:30%;
    color: $baseColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }}}
  
      @media(max-width:768px)
{
   header{
     height:400px;
   #top-pic {
     height:400px;
     background:url("../images/top-pic.jpg");
     background-size:cover;
     background-position:center,center;
 
   }
  
  section{
    .container1{
    flex-direction: column;
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
     }
  }}}

// PC
@media (min-width:769px) {
  /* Base
  ------------------------------------------------------------*/
}
  